.btn{
    margin-left: 400px;
}
a{
    text-decoration: none;
}
#start{
    height: 40px;
    width: 150px;
    text-align: center;
}
#stop{
    height: 40px;
    width: 150px;
    text-align: center;
}