body{
    background-color: rgb(130, 200, 106);
    height: 100%;
    width: 100%;
}
body:hover{
    /* background-color: rgb(195, 0, 255);\ */
    background-image: linear-gradient(rgb(255, 111, 0),yellow, rgb(255, 123, 0), rgb(135, 199, 7));
    background-repeat: no-repeat;
    background-position: center;
}
.center{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
margin-left: 450px;
}
#banner{
    color: blueviolet;
    text-align: center;
    font-weight: bold;
}
#clock{
    background-color: yellowgreen;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}
#clock:hover{
color: red;
background-color: yellow;
font-weight:bold;

}